@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}
::selection{
    color: var(--bg-color);
    background-color: var(--second-color);
}

:root {
    --container-color:#1e1e21;
    --second-color:#fd8f44;
    --text-color:#172317;
    --bg-color:#fff;
}
a{
    text-decoration: none;
    color: var(--bg-color);

}
li{
    list-style: none;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
li:hover{
    border-radius: 1rem;
    background: hsl(24, 98%, 58%);
    transition: 0.3s;
}
img{
    width: 100%;
    
}
section{
    padding: 3rem 0 2rem  ;
}
.container{
    max-width: 1068px;
    margin:auto;
    width: 100%;
}
/* header */
header{
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    z-index: 200;
    background-color: black;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    
}
.logo{
    font-size:1.5rem;
    font-weight: 600;
    color: var(--bg-color);
}
.logo span {
    color: var(--second-color);
}
header.shadow{
    background: var(--bg-color);
    /* color: var(--container-color); */
    box-shadow: 0 1px 4px hsl(0 4% 14% /10%);
    transition: 0.4s;
}
header.shadow a{
    color: var(--text-color);
}
.login{
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: var(--second-color);
    color: var(--bg-color);
}
.login:hover{
    border-radius: 3px;
    background: hsl(24, 98%, 58%);
    transition: 0.3s;
}
/* home */
.home{
    width: 100%;
    min-height: 440px;
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
}
.home-text{
    color: var(--bg-color);
    text-align: center;
}
.home-title{
    font-size: 3.5rem;

}
.home-subtitle{
    font-size: 1rem;
    font-weight: 400;
}
/* post-filter */
.post-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem ! important;
}
.filter-item{
    font-size:0.9rem ;
    font-weight: 500;
    cursor: pointer;

}
.active-filter{
    background: var(--second-color);
    color: var(--bg-color);
    padding: 4px 10px;

}
.post{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,auto));
    justify-content: center;
    gap: 1.5rem;
}
.post-box{
    background-color: var(--bg-color);
    box-shadow: 0 4px 14px hsl(355deg 25% 15%/10);
    padding: 15px;
    border-radius: 0.5rem
}
.post-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}
.post-box h2{
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}
.post-box a{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    
    
    
    overflow: hidden;
}
.post-box span{
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;
}
.post-box p{
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;

   
    
    overflow: hidden;
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;

}
.profile-img{
   width: 35px;
   height: 35px;
   border-radius: 50%;
   object-fit: cover;
   object-position: center;
   border: 2px solid var(--second-color);
}
.profile-name{
    font-size: 0.82rem;
    font-weight: 500;
}
.form{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.from h1{
    text-align: center;
    font-size: 22px;
    font-weight: 300;
}
